:root {
    --spotify-green: #1db954;
    --spotify-black: #191414;
    --spotify-font: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--spotify-green);
}

.root {
    width: 100vw;
    height: 100vh;
}
